@model IEnumerable<INGWeb_Rivadeneira.Models.Scores>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserVir.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Score)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Combo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserVir.Username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Score)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Combo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ScoresID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ScoresID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ScoresID })
        </td>
    </tr>
}

</table>
